[Unit]
Description=Grafana Alloy
Wants=network-online.target
After=network-online.target

[Service]
User=alloy
Group=alloy
Type=simple
ExecStart=/usr/local/bin/alloy run /etc/alloy/config.alloy --storage.path=/var/      lib/alloy --server.http.listen-addr=0.0.0.0:12345

[Install]
WantedBy=multi-user.target
