[Unit]
Description=Grafana
Wants=network-online.target
After=network-online.target

[Service]
User=grafana
Group=grafana
Type=simple
WorkingDirectory=/usr/local/grafana
ExecStart=/usr/local/grafana/bin/grafana server --config=/usr/local/grafana/con      f/defaults.ini --homepath=/usr/local/grafana

[Install]
WantedBy=multi-user.target

